<div class="col-md-12 flow1">
  <div class="row"><div class="col-md-6" style="height:400px;">
    <div class="col-md-6" style="margin-top: 200px"><img src="http://owo22ooz3.bkt.clouddn.com/personal_images/flow.gif"></div>
  </div>
    <div class="col-md-6 flow">
      <!--<div class="col-md-12 bao">包裹信息</div>-->
      <div class="col-md-12 bao1">
        <span><img src="http://owo22ooz3.bkt.clouddn.com/lan.jpg" class="img-circle"></span>
        <span><img src="http://owo22ooz3.bkt.clouddn.com/yun.jpg" class="img-circle"></span>
        <span><img src="http://owo22ooz3.bkt.clouddn.com/pai.jpg" class="img-circle"></span>
        <span><img src="http://owo22ooz3.bkt.clouddn.com/shou.jpg" class="img-circle"></span>
        <span style="width: 100px;height: 100px;background-color: rgba(143,143,143,0.69);position: relative;display: inline-block;border-radius:50px;left: 257px;top: -80px"></span>
        <div class="ww">
          <ul class="col-md-12">
          <li style="position:relative;right:40px">待揽件</li>
          <li style="position:relative;right:15px">运输中</li>
          <li style="position:relative;left:20px">派件中</li>
          <li style="position:relative;left:65px;color: #8f8f8f">已签收</li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  <div class="info">
 <div class="infon">
    <div style="color:#000000;font-weight: 600;margin: 10px">卖家已发货</div>
    <br>
    <div style="font-weight: 600;margin-left: 200px">圆通速递 运单号：565652222</div>
    <br>
    <br>
    <br>
    <span class="doro" style="background-color: black"></span>&nbsp;&nbsp;苏州转运中心公司已发出 &nbsp;&nbsp;2017-9-26 05:14:45<br><br>
    <span class="doro"></span>&nbsp;&nbsp;苏州转运中心公司已打包 &nbsp;&nbsp;2017-9-25 22:32:01<br><br>
   <div style="margin-left: 200px"> --------------以上为最新跟踪信息------------</div><br>
    <span class="doro"></span>&nbsp;&nbsp;上海市徐汇区万体馆 &nbsp;&nbsp;2017-9-25 06:16:06<br><br>
    <span class="doro"></span>&nbsp;&nbsp;南京转运中心已打包 &nbsp;&nbsp;2017-9-25 18:22:07<br><br>
    <span class="doro"></span>&nbsp;&nbsp;江西省南昌市新建县 &nbsp;&nbsp;2017-9-24 07:30:20<br><br>
  </div>
  </div>
</div>
