.pics{
  min-width: 590px;
  margin: 0 auto;
  min-height: 60px;
}
.review_btn button{
  background-color: #888888;
  color: white;
  margin-left: 5px;
  width: 48px;
  font-size: 12px;
  height: 28px;
  text-align: center;
  margin-top: 10px;


}
#backshow{
  width:860px;
  margin-bottom: 10px;
  height:60px;
}
.review_area textarea{
  margin-bottom: 10px}
#show{
  border:1px solid #F2F2F5;
  height:auto;
  min-height:50px;
  margin-top: 20px;
  padding-top: 10px ;
  text-indent: 25px;
}
#show .txt{
  text-align: left;
}
#num1{
  width:25px;
  border: none;
  text-align: center;
  background-color: transparent;
}
.pics a img{
  width: 200px;
  height: 210px;
}
.send_area2{
  min-height: 10px;
  display: block;
  background-color: rgba(255, 206, 207, 0.59);
  text-align: left;
  margin-left: 180px;

}
.review_area{
  text-align: center;

}
.statem  img{
  width: 550px;
  height: 600px;
  margin-top:20px;
}
