
  <!--显示放大的图片=================-->
  <div *ngIf="_comment.showbig" class="animated zoomIn statem" style="z-index: 4;border-radius: 5px;margin: 0 auto;position:absolute;width: 900px;height: 650px;box-shadow: 1px 1px 10px 3px #5e5e5e;background-color: rgba(40,41,52,0.93)" >
    <p class="fa fa-3x fa-close" (click)="close_big()" style="color: #fff6fe;float:right;margin-top: 0;padding-right: 5px;cursor: pointer"></p>
    <img src="http://owo22ooz3.bkt.clouddn.com/{{bigpic}}" alt="...">
  </div>
  <!--显示用户的信息-->
  <div class="col-xs-3" style="background:rgba(242,242,245,0.09); height:80px;border-radius: 15px;padding:20px 10px 20px 10px">
            <span class="col-xs-2">
              <i>
              <!--<img class="img-circle" src="http://owo22ooz3.bkt.clouddn.com/{{comment.icon}}" height="30" width="30"/>-->
              <img class="img-circle" src="http://localhost:3001/userhead/{{_comment.icon}}" height="30" width="30"/>
              </i>
            </span>
    <span><p class="col-xs-6">{{_comment.username}}&nbsp;<span class="fa fa-diamond" style="color: rgba(8,167,255,0.82)"></span><span class="fa fa-diamond" style="color: rgba(8,169,255,0.82)"></span></p>
            <p>{{_comment.sharedate}}</p>
          </span>
  </div>
  <!--====================-->
  <!--<div class="col-xs-3 col-xs-push-6 del" *ngIf="dstate">赶紧换个环境</div>-->
  <div class="col-xs-12 col-sm-12 " id="show">
    <!--评论的内容======================-->
    <p class="txt" style="min-height: 30px">{{_comment.sharetext}}</p>
    <!--评论的图片==========================-->
    <div *ngIf="_comment.sharepic!==''" class="pics">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <a  class="thumbnail">
            <!--<img (click)="show_big(index)" src="http://owo22ooz3.bkt.clouddn.com/{{comment.sharepic}}">-->
            <img (click)="show_big()" src="http://localhost:3001/shares/{{_comment.sharepic}}">
          </a>
        </div>
      </div>
    </div>
    <!--点赞===============================-->
    <p style="text-align: right">
      <span class="glyphicon glyphicon-thumbs-up" [style.color]="like_if?'red':'#000'" (click)="dianzan(_comment.shareid)" id="praise"></span>
      <input type="button" id="num1" value={{_comment.thum}}>
      &nbsp; &nbsp; <span class="glyphicon glyphicon-pencil" (click)="tocomment(index)"></span>
    </p>
  </div>
  <!--回复评论====================-->
  <div id={{_comment.add}} class="col-xs-12 col-sm-10" style="height:auto;min-height:0px;width:400px;">
    <div *ngFor="let backs of back;let index1=index">
      <app-backitem [_backs]="backs"></app-backitem>
    </div>
  </div>
  <!--回复评论===================-->
  <div class="row">
    <div *ngIf="_comment.state" class="col-xs-12 col-sm-12 col-lg-12 review_area ">
      <div *ngIf="1" class="col-xs-12 col-sm-12 col-lg-12 review_area ">
        <textarea name="backcom" id="backcom" class="col-xs-12 col-sm-6 col-sm-offset-3 send_area2 " #comback="ngModel" [(ngModel)]="_commentback"></textarea>
        <div class="review_btn" style="margin-left: -60px">
          <button type="button" name="backcom" (click)="backsend()" class="btn">发送</button>
          <button type="button"  (click)="cancel()" class="btn">取消</button>
        </div>
      </div>
    </div>
    <!--=============reply end===========-->
  </div>

