<nav id="fix1" class="navbar ng1">
  <div class="container-fluid">
    <!--云+E-shine logo-->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!--云-->
        <span class="glyphicon glyphicon-cloud">
          E-shine
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--导航栏子项-->
      <ul class="nav navbar-nav ng3" style="margin-left: 200px">
        <li>
          <a routerLink="/index" routerLinkActive="active" >首页
            <span class="sr-only">(current)
          </span>
          </a>
        </li>
        <li>
          <a routerLink="/looks" routerLinkActive="active">穿搭</a>
          <ul class="dropdown">
            <li routerLink="/boys">男生搭</li>
            <li routerLink="/girls">女生搭</li>
          </ul>
        </li>
        <li>
          <a routerLink="/loves" routerLinkActive="active">情侣时光
            <span class="glyphicon glyphicon-heart"></span>
          </a>
        </li>
        <li>
          <a routerLink="/fashion-week" routerLinkActive="active">时尚圈</a>
          <ul class="dropdown d1">
            <li routerLink="/fashion-week">秀场</li>
            <li routerLink="/fashion-wu">吴亦凡</li>
            <li routerLink="/fashion-ying">赵丽颖</li>
            <li routerLink="/fashion-ou">王鸥</li>
          </ul>
        </li>
        <li><a href="#" routerLink="/shares" routerLinkActive="active">达人分享</a></li>
        <li><a href="#" routerLink="/shares-area" routerLinkActive="active">分享</a></li>
      </ul>
      <!--搜索框-->
      <form class="navbar-form navbar-left" #appForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Search" #sea="ngModel" [(ngModel)]="_sea" >
          <span class="glyphicon glyphicon-search btn btn-default" (click)="search(appForm)"></span>
        </div>
      </form>
      <!--登录，注册-->
      <ul class="nav navbar-nav navbar-right" id="user_nav">
        <!--未登录显示-->
        <li *ngIf="!isLogin" style="float:right;margin-right: 10px;">
          <span><a href="" routerLink="/login" routerLinkActive="active" style="margin-right: 10px;"> 登录</a></span>
          <span> <a href="" routerLink="/regist" routerLinkActive="active"> 注册</a></span>
        </li>
        <!--已登录显示-->
        <li *ngIf="isLogin" style="float:right">
            <span style="margin-right: 5px">
              <a href="" routerLink="/personal-center" routerLinkActive="active">欢迎:{{userName}}</a>
            </span>
          <span>
            <a (click)="end()" routerLinkActive="active" >注销</a>
          </span>
        </li>
      </ul>
      <!---->
    </div>
  </div>
</nav>
