<div class="center1">
  <img id="wallpaper" src="http://localhost:3001/images/{{bkicon}}">
    <div class="big_con">
       <div class="container" >
     <div class="row">
       <!--<div  class="shareNews animated fadeInDown" *ngIf="stateh==0" id='kuang' ><span class="fa fa-3x fa-check" style="color: green"></span>上传头像成功</div>-->
      <!--<div  class="shareNews animated fadeInDown" *ngIf="stateh==1" ><span class="fa fa-3x fa-check" style="color: green"></span>上传背景成功</div>-->
      <!--<div  class="shareNews animated fadeInDown" *ngIf="stateh==2" ><span class="fa fa-3x fa-check" style="color: green"></span>修改密码成功</div>-->
      <!--<div  class="shareNews animated fadeInDown" *ngIf="stateh==3" ><span class="fa fa-3x fa-close" style="color: red"></span>原始密码错误,修改失败</div>-->
      <!--<div  class="shareNews animated fadeInDown" *ngIf="stateh==4" ><span class="fa fa-3x fa-close" style="color: red"></span>密码错误</div>-->

      <div id="big">
        <div class="edit" (click)="editinfo()">编辑资料 <span class="glyphicon glyphicon-edit"></span></div>
        <div class="col-md-12 col-lg-12">
          <form class="form-horizontal" #myform="ngForm">
            <div class="big">
              <div class="first">
                <h3>Contact</h3>
                <p>{{_email}}
                  <span *ngIf=state class="glyphicon glyphicon-pencil bian" (click)="textput()"></span>
                </p>
                <div *ngIf=state2 class="youxiang">
                  <div class="form-group col-md-12 col-lg-12">
                    <div class="col-lg-12 col-md-12">
                      <input type="text" id="mail"  (keyup.enter)="updaten1(myform)" (blur)="updaten1(myform)" pattern="^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$" #mail="ngModel" [(ngModel)]="_email"  class="form-control tel-1" name="useremail" placeholder="邮箱" required>
                    </div>
                  </div>
                  <div class="control-group col-md-12 col-lg-12">
                    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
                         class="tel1-1">
                      <div *ngIf="mail.errors.pattern">
                        <span class=" fa fa-minus-circle"></span>邮箱输入有误！
                      </div>
                      <div *ngIf="mail.errors.required">
                        <span class=" fa fa-minus-circle"></span>邮箱不能为空
                      </div>
                    </div>
                  </div>
                </div>

                <p>{{_tel}}</p>
                <p>Richmond.China</p>
              </div>
              <div class="first">
                <h3>Follow</h3>
                <div class="first1">
                  <div class="first2">f</div>
                  <div class="first2">in</div>
                  <div class="first2">@</div>
                </div>
                <div class="first1">
                  <div class="first2">v</div>
                  <div class="first2">G</div>
                  <div class="first2">t</div>
                </div>
              </div>
              <div class="first">
                <h3>Visted</h3>
                <p id="be"><B>Be</B></p>
                <p class="sencond1">Follow my behance<br>listen</p>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12 col-lg-12">
          <h2 class="center">About Me</h2>
          <p class="line">_____</p>
          <div class="container-fluid">
          </div>
          <!--更改头像=============================-->
          <div id="header">
            <form class=" form-horizontal" enctype="multipart/form-data">
              <input class="form-control" type="file" name="user_icon"  id="upload_file"  accept="image/jpg,image/jpeg,image/png"  (change)="onFileChanged($event.target.files)" placeholder="Upload file">
              <div class="change_txt">更改头像</div>
              <div id="preview" class="yu">
                <!--<img src="http://owo22ooz3.bkt.clouddn.com/{{back[0].icon}}" alt="">-->
                <img src="http://localhost:3001/userhead/{{icon}}" alt="">
              </div>
            </form>
          </div>
          <!--更改头像===============================-->
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="icon">
            <p class="icon_first">
              <img src="http://owo22ooz3.bkt.clouddn.com/dingdan1.png" height="40" width="40">
            </p>
            <p class="icon_first">
              <img src="http://owo22ooz3.bkt.clouddn.com/information1.png" height="45" width="45">
            </p>
            <p class="icon_first">
              <img src="http://owo22ooz3.bkt.clouddn.com/address1.png" height="45" width="45">
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="icon_introduce">
              <a routerLink="../pay" routerLinkActive="active">
                <h5 class="icon_first_introduce">
                我的订单
                </h5>
              </a>
              &nbsp;<a ><h5 class="icon_first_introduce" routerLink="/shares-myarea" routerLinkActive="active">我的分享
          </h5></a>

            <!--<h5 class="icon_first_introduce" style="cursor: pointer" (mouseover)="address()" (mouseout)="address_hid()"-->
                <!--routerLink="../pay" routerLinkActive="active">收货地址            -->
              <h5 class="icon_first_introduce" style="cursor: pointer"
                routerLink="../pay" routerLinkActive="active">收货地址
              &nbsp;&nbsp;
            </h5>
            <div class=" address_news animated fadeIn" *ngIf="address_state"> <p></p> </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="icon">
            <p class="icon_second">
              <img src="http://owo22ooz3.bkt.clouddn.com/pingjia1.png" height="50" width="50"/>
            </p>
            <p class="icon_second">
              <img src="http://owo22ooz3.bkt.clouddn.com/shopping1.png" height="40" width="40"/>
            </p>
            <p class="icon_second">
              <img src="http://owo22ooz3.bkt.clouddn.com/wuliu1.png" height="40" width="40"/>
            </p>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="icon_introduce1">
            <h5 class="icon_first_introduce">
              &nbsp;&nbsp;&nbsp;&nbsp;评价
            </h5>
            <a routerLink="../shapping-car" routerLinkActive="active"><h5 class="icon_first_introduce">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购物车
            </h5></a>

              <a routerLink="../myflow" routerLinkActive="active">
                <h5 class="icon_first_introduce">
                我的物流
                </h5>
              </a>
          </div>
        </div>
      </div>




    </div>


  </div>
</div>
</div>










