li{
  width: 220px;
}
img{
  margin-top: 20px;
}
.pra{float:right;
  width:60px;
  height:23px;

}
.pra1{float:right;
  margin-right:8px;
  font-size: 1.2em;

}
.xin{
  width:23px;
  height:23px;
  display: inline-block;
  float:left;
  background-position: -27px -50px;
  background-image: url("../../../assets/xin.jpg");
}

.noxin{
  width:23px;
  height:23px;
  display: inline-block;
  float:left;
  background-position: -3px -5px;
  background-image: url("../../../assets/xin.jpg");
}
