<!--<div class="body" style="width: 100%">-->

<div *ngIf="!_hiddenNavs">
  <!--E-shine大logo-->
  <img class="logo2" style="text-align: center" src="http://owo22ooz3.bkt.clouddn.com/logo2.png">
  <!--导航栏-->
  <app-nav></app-nav>
  <!--导航====-->
</div>



<!--侧边栏-->
  <!--<div>-->
  <!--<ul id="dock">-->
    <!--<li id="links"><span class="fa fa-user"></span>-->
      <!--<ul class="free">-->
        <!--<li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a></li>-->
        <!--<div *ngIf=!tel>你还没有登录呢~~~</div>-->
        <!--<div *ngIf= tel><li><img routerLink="/personal-center" class="img-circle" src="http://owo22ooz3.bkt.clouddn.com/{{icon}}" width="100px"height="110px"></li>-->
        <!--<li>用户名：<span>{{name}}</span></li></div>-->
        <!--<li><button>欢迎~~</button></li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li id="files"><span class="fa fa-shopping-cart"></span>购物车<div class="circle">{{num}}</div>-->
      <!--<ul class="free" style="overflow-y: scroll">-->
        <!--<li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a></li>-->
        <!--<li (click)="goshop()">我的购物车</li><div  *ngIf=tel>-->
        <!--<li *ngFor="let item of mes">-->
          <!--<span><img width="80" height="120" (click)="goshop()" src="http://owo22ooz3.bkt.clouddn.com/{{item.goodspic}}"></span>-->
          <!--<span style="width: 80px;height: 50px;display: inline-block">{{item.goodsname}}</span>-->
        <!--</li>-->
      <!--</div>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li id="tools"><span class="fa fa-paw"></span>我的足迹-->
      <!--<ul class="free">-->
        <!--<li class="header"><a class="dock-keleyi-com">固定</a><a class="undock">隐藏</a>我的足迹</li>-->
        <!--<li *ngFor="let item of mesf">-->
          <!--<div>{{item.lookdate}}</div>-->
          <!--<span><img (click)="godetail(item.lookid)" width="80" height="120" src="http://owo22ooz3.bkt.clouddn.com/{{item.lookpic}}"></span>-->
          <!--<span style="width: 80px;height: 50px;display: inline-block">{{item.lookname}}</span>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->

    <!--</li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="row">
    <!--//通过路由跳转显示特定网页-->
    <router-outlet #outlet>
    </router-outlet>
    <!--回到顶部-->
    <app-backtop *ngIf="!_hiddenTop"></app-backtop>
  </div>

  <!--底部声明-->
  <div *ngIf="!_hiddenNavs">
    <app-footer></app-footer>
  </div>

<!--</div>-->

