<!--<div class="body" style="width: 100%">-->

<div *ngIf="!_hiddenNavs">
  <!--E-shine大logo-->
  <div class="logo2">
  <img src="http://owo22ooz3.bkt.clouddn.com/logo2.png">
</div>
  <!--导航栏-->
  <app-nav></app-nav>
  <!--导航====-->
</div>





  <div class="row">
    <!--//通过路由跳转显示特定网页-->
    <router-outlet #outlet>
    </router-outlet>
    <!--侧边栏-->
    <app-sidebar></app-sidebar>
    <!--回到顶部-->
    <app-backtop *ngIf="!_hiddenTop"></app-backtop>
  </div>

  <!--底部声明-->
  <div *ngIf="!_hiddenNavs">
    <app-footer></app-footer>
  </div>

<!--</div>-->

