
.body{
  overflow-x: hidden;
}

.logo2{
  text-align: center;
  margin: 0 auto;
}




.ng4 a{
  color: #0b050e;
  font-weight: 400;
  font-size: 14px;
}


.d1{
  position: absolute;
left:-4px;
}




