<!--侧边栏-->
<div *ngIf="if_login" style="position: absolute;">
  <ul id="dock">
    <!--用户头像====================-->
    <li id="links" (click)="fixation_links()"><span class="fa fa-user"></span>
      <!--<ul id="shopContent" class="free">-->
  </li>
    <!--用户头像end===============-->
    <!--购物车=========================-->
  <li id="files" (click)="fixation_files()">
    <span class="fa fa-shopping-cart"></span>购物车<div class="circle">{{shopresult&&shopresult.length}}</div>
  </li>
    <!--end=========================================-->
    <!--我的足迹=======================-->
    <li id="tools" (click)="fixation_tools()"><span class="fa fa-paw"></span>我的足迹
    </li>
<!--==============================================-->
    <ul [className]="my_class">
      <!--<ul >-->
      <li class="header">

        <a class="unlock" (click)="undock()">隐藏</a>
        <!--<a [className]="fixation_class" (click)="fixation()">固定</a>-->
      </li>
      <li *ngIf="!user_id">你还没有登录呢~~~</li>
      <li *ngIf="user_id">
        <!--<img routerLink="/personal-center" class="img-circle" src="http://owo22ooz3.bkt.clouddn.com/{{icon}}" width="100px"height="110px">-->
        <!--<img routerLink="/personal-center" class="img-circle" src="http://localhost:3000/uploads/{{icon}}" width="100px"height="110px">-->
        <img routerLink="/personal-center" class="img-circle" src="http://localhost:3000/userhead/{{icon}}" width="100px" height="110px">
        <span style="display: block;margin-top: 10px">用户名：{{name}}</span>
      </li>
      <li>欢迎~~</li>
    </ul>

    <!--滚动条-->
    <ul  [className]="my_class1" style="overflow-y: scroll">
      <li class="header">
        <!--<a class="fixation">固定</a>-->
        <a class="undock" (click)="undock()">隐藏</a>
      </li>
      <!--<li>我的购物车</li>-->
      <div *ngIf="user_id">
        <!--循环=========-->
        <li  *ngFor="let item of shopresult" style="cursor: pointer">
          <!--<span><img width="80" height="120" (click)="goshop()" src="http://owo22ooz3.bkt.clouddn.com/{{item.goodspic}}"></span>-->
          <span><img width="80" height="120" (click)="goshop()" src="http://localhost:3000/images/{{item.goodspic}}"></span>
          <span style="width: 80px;height: 50px;display: inline-block" (click)="goshop()">{{item.goodsname}}</span>
        </li>
        <!--=============-->
      </div>
    </ul>

    <ul [className]="my_class2" style="overflow-y: scroll">
      <li class="header">
        <!--<a class="fixation">固定</a>-->
        <a class="undock" (click)="undock()">隐藏</a>
        <!--我的足迹-->
      </li>
      <li *ngFor="let item of footresult">
        <div>{{item.lookdate}}</div>
        <!--<span><img (click)="godetail(item.lookid)" width="80" height="120" src="http://owo22ooz3.bkt.clouddn.com/{{item.lookpic}}"></span>-->
        <span><img (click)="godetail(item.lookid)" width="80" height="120" src="http://localhost:3000/images/{{item.lookpic}}"></span>
        <span style="width: 80px;height: 50px;display: inline-block">{{item.lookname}}</span>
      </li>
    </ul>
</ul>
</div>
